*

*/

!.gitignore

!Dockerfile
!build.sh
!start.sh
!mac-start.sh
!mount-ent-git.sh
!docker-names.txt

!.bash_logout
!.bashrc
!.profile
!.gitconfig
!.vimrc

!*/.emptyfile

!git/
!git/bfg.jar
!git/clone-all.sh

!help
!help/*

!samba
